body {
  background-color: #9DD1F1;
}

#div-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
}

.form-task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-form{
  background-color: #508AA8;
  border: #12130F 3px solid;
  border-radius: 20px;
  height: fit-content;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 350px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.task {
  width: 350px;
  border: #12130F 3px solid;
  background-color: #9DD1F1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.react-calendar {
  background-color: #508AA8;
  border: #031927 3px solid;
  border-radius: 20px;
}

.react-calendar__tile--now {
  background-color: #031927;
  color: #C8E0F4;
}

.react-calendar__tile--active {
  background-color: #05263a;
}

.react-calendar__month-view__days__day--weekend {
  color:#003b94;
}

input {
  background-color: #508AA8;
  border: #12130F 2px solid;
  border-radius: 20px;
}

.button-form {
  padding: 5px;
  width: 100px;
  border-radius: 10px;
}

#button-add {
  background-color: #508AA8;
  border: #12130F 3px solid;
}

#button-update {
  background-color: #508AA8;
  border: #12130F 3px solid;
}

#button-add:hover {
  background-color: #031927;
  color: #8FCB9B;;
}

#button-update:hover {
  background-color: #031927;
  color: #8FCB9B;;
}

.item-task {
  background-color: #508AA8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5%;
  border: #031927 2px solid;
}

#delete-btn {
  background-color: #e78277;
  border: 3px solid #BA1200;
  color: #BA1200;
  margin-bottom: 5px;
}

#delete-btn:hover {
  background-color: #BA1200;
  color: #e78277;
}

#update-btn {
  background-color: #9DD1F1;
  border: 3px solid #031927;
  color: #031927;
}

#update-btn:hover {
  color: #9DD1F1;
  background-color: #031927;
}

.content-task {
  border: #031927 1px solid;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
}
